.Board {
  position: relative;
  background-color: #000;
}

.cell:hover,
.empty:hover {
  border: 1px solid pink;
}

.cell {
  background: #ccc;
  position: absolute;
}

.empty {
  background: black;
  position: absolute;
}

.controls {
  margin-top: 20px;
}

.button {
  margin-left: 12px;
  cursor: pointer;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
